html, body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100% - 100px); /* Adjust height to account for the header */
    text-align: right;
}

.bloc {
    padding: 15px;
    background: linear-gradient(45deg, #FFDDCC, #FF7E79);
    border: 2px solid #FF7E79;
    border-radius: 10px;
    cursor: pointer;
    width: 200px;
    margin-bottom: 20px;
    font-size: 1.5em;
    font-weight: bold;
    color: white;
    text-align: center;
    transition: background 0.5s, transform 0.2s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    
}

.bloc:hover {
    background: linear-gradient(45deg, #FF7E79, #FFDDCC);
    transform: scale(1.1);
}

.bloc:active {
    animation: clickEffect 0.3s forwards;
}

@keyframes clickEffect {
    0% {
        background: linear-gradient(45deg, #FFDDCC, #FF7E79);
    }
    50% {
        background: linear-gradient(45deg, #FF7E79, #FFDDCC);
    }
    100% {
        background: linear-gradient(45deg, #FFDDCC, #FF7E79);
    }
}

.slider-container {
    margin: 10px 0;
    text-align: right;
    background-color: darkgray;
    padding: 2px;
    color:#FFF;
}
