body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
    background-color: #e4e4e4;
}

h1 {
    text-align: center;
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(49,125,163,1) 100%);
    border-radius:15px;
    color: white;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: #007bff;
}

a:hover {
    color:#c41d11;
    
}

/* Styles pour les appareils mobiles */
@media only screen and (max-width: 600px) {
    body {
        font-size: 14px;
    }

    li {
        margin-bottom: 5px;
    }
}

/* Styles pour les écrans plus larges */
@media only screen and (min-width: 601px) {
    body {
        font-size: 16px;
    }
}
