body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

header nav ul {
    list-style-type: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}

#body-content {
    padding: 20px;
}

.box {
    width: 200px;
    height: 200px;
    background-color: #fff;
    margin-bottom: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

a {
    color:#FFFF00;
}