/* Style général */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Assure que le corps prend au moins la hauteur de l'écran */
}

/* Conteneur principal */
.container {
    flex: 1; /* Permet au conteneur principal de se développer pour occuper l'espace disponible */
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Style du calendrier */
#calendar {
    max-width: 100%;
    margin: 0 auto;
}

/* Style du header et du footer */
header, footer {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

footer {
    margin-top: auto; /* Assure que le footer se colle en bas */
}
