<!-- /var/www/html/3x0c3t_L4b/Formation_JAVA/JAVA/Quetes/01_Quete/my-quete-01/src/main/resources/templates/indiana.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Indiana Jones Info</title>
</head>
<body>
    <h1>Indiana Jones Info</h1>
    <p>Movie Title: <span th:text="${movieTitle}"></span></p>
    <p>Have seen the movie: <span th:text="${haveSeen}"></span></p>
    <p>Year of Release: <span th:text="${releaseYear}"></span></p>
    <p>IMDB Rating: <span th:text="${imdbRating}"></span></p>
</body>
</html>
