body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

.car-info, .car-actions {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
}

.car-actions {
    max-width: 300px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

p {
    margin-top: 0;
    margin-bottom: 10px;
}

#powerStatus, #handbrakeStatus, #gearStatus, #speedStatus {
    font-weight: bold;
}
