body {
    background-color: #ffc0cb; /* Rose Hello Kitty */
    color: #000000; /* Texte noir */
    font-family: Arial, sans-serif;
  }
  
  h1 {
    color: #ff69b4; /* Rose Hello Kitty */
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  .copy-button {
    margin: 15px;
    background-color: #ff69b4; /* Rose Hello Kitty */
    color: #000000; /* Texte blanc */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .copy-button:hover {
    background-color: #ff1493; /* Rose Hello Kitty légèrement assombri au survol */
  }
  
  #copyMessage {
    color: #ff69b4; /* Rose Hello Kitty */
    margin-top: 10px;
  }
