body {
    font-family: Arial, sans-serif;
    background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(158, 158, 158, 1) 100%);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    justify-content: center; /* Centre verticalement les éléments dans le corps */
}

#container {
    flex: 1; /* Prend tout l'espace disponible */
    display: flex; /* Utilisation de flexbox */
    justify-content: center; /* Centre horizontalement */
    align-items: center; /* Centre verticalement */
    /* border :1px solid #000000; */
}

h1 {
    font-size: 1.8rem;
    color: #7e80e7; /* Couleur du h1 */
    text-align: center; /* Centre le texte */
    margin-top: 20px; /* Espace au-dessus du h1 */
}

h2 {
    color: #7e80e7; /* Couleur du h2 */
    text-align: center; /* Centre le texte */
    margin-bottom: 20px; /* Espace en-dessous du h2 */
    position: absolute; /* Pour le positionnement */
    bottom: 20px; /* Distance du bas de l'écran */
    left: 50%; /* Centre le texte */
    transform: translateX(-50%); /* Ajuste le texte pour qu'il soit centré */
}
